.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    width: 600px;
    height: 300px;
    border-style: double;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#link {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.list {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#daimg {
    float: left;
}

.lorem {
    float: right;
}

@media all and (max-width: 800px) {
    .aDiv {
        height: 300px;
        width: 300px;
    }

    #daimg {
        height: 50px;
        width: 50px;
    }
}